##########################################################
##
## This file contains rules for file pattern matches
## which git will ignore.
##
##	see: man git-ignore
##
##   Author:  Wilber
##
##########################################################

##########################################################
##    node modules
##########################################################
node_modules/

##########################################################
##    debug file
##########################################################
npm-debug.log

